/*
  <header class="main-header"> // Random German Sentence Generator Title
  <section class="main-content"> // Random Text and Button
      <div id="root"></div>
    </section>
  <section class="author"> //Author
  <section class="credit"> //Credit
  */

body {
  background-color: #f5f5f5;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 1 auto;
}

.main-header div {
  background-color: #2fbd7a;
  text-align: center;
  font-size: 16pt;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.main-content {
  margin: 10px;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
}

.text {
  height: 70%;
  background-color: #f0dcb4;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 32pt;
}

#generateBtn {
  background-color: #cfcfcf;
  text-align: center;
  margin: auto;
  width: auto;
}

.author > div {
  text-align: left;
  margin: 10px;
  padding: 10px;
}

.credit > div {
  text-align: left;
  margin: 10px;
  padding: 10px;
}
